*{
box-sizing: border-box;
}


.flex-container{
display: flex;
flex-direction: row;
justify-content: center;


}



.item{
    
    flex-basis: 100px;
    height: 100px;
    background-color: crimson;
    padding: 10px;
    border: 6px solid darkkhaki;
    margin: 10px;
}
.item:nth-child(2){
    align-self: end;
}



